.standard {
  width: 100%;
  background-color: #282828;
  color: white;
  height: 200px;
}
.standard h1 {
  text-align: center;
}
section:before, section:after {
  content: "";
  display: table;
  line-height: 0;
}
section:after {
  clear: both;
}
body {
  scroll-behavior: smooth;
  background-color: #282828;
}
