.navbar-nav .nav-item a.nav-link {
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white;
  text-decoration: underline;
}
.navbar-nav .nav-item .nav-link:active {
  color: white;
}
nav img {
  width: 5%;
}
.navcontainer nav {
  position: fixed;
  width: 100%;
}
